* {
    padding: 0;
    margin: 0;
}

body{
    background-color:azure;
}
.pageCont{
    display: flex;
    justify-content: center;
}
.titleFlex{
    display: flex;
    margin: 0;
    padding: 0;
}
.titleBox{
    padding: 0;
    margin: 0;
    border-radius: 64px;
    text-align: center;
    line-height: 150px;
    height:150px;
    width:100%;
    background-color:rgba(202, 54, 54, 0.774);
    color: white;
}
.calculatorBox{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    border: dashed 8px black;
    background-color: black;
    border-radius: 4px;
    margin-top: 40px;

    
}

.numberField{
    border: 2px gray solid;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    font-size:48px;
    display: flex;
    align-items: flex-end;
    justify-content:end;
    width:auto;
    height:25%;
    border-radius: 8px;
}

.calButtons{
    display: flex;
    flex-wrap: wrap;
    height: 75%;
    width: auto;
}

.calButtons > *{
    width: 25%;
    font-size: 2em;
    height: auto;
    color: #000000;
    background-color: rgb(255, 151, 203);
    border-radius: 8px;
}

#zerokey {
    width: 50%;
}
